{#
 #  Form - Vich_fields
 #}

{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    {% spaceless %}
        {{ form_widget(form.file, {'attr': {'class': 'form__field'}}) }}

        {% if form.delete is defined %}
            <div class="field__delete">
                {{ form_widget(form.delete) }}
                {{ form_label(form.delete, 'Supprimer le fichier existant ?') }}
            </div>
        {% endif %}

        {#{% if download_uri %}#}
            {#<a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>#}
        {#{% endif %}#}
    {% endspaceless %}
{% endblock %}
