{#
 #  Article - _Form
 #}

{{ form_start(form, {'attr': {'class': 'form'}}) }}

    <div class="form__row">
        {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form__label'}}) }}
        <div class="form__errors">
            {{ form_errors(form.title) }}
        </div>
        {{ form_widget(form.title, {'attr': {'class': 'form__field'}}) }}
    </div>

    <div class="form__row">
        {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form__label'}}) }}
        <div class="form__field--ckeditor">
            {{ form_widget(form.content) }}
        </div>
    </div>

    <div class="form__row">
        {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(form.category, {'attr': {'class': 'form__field'}}) }}
    </div>

    <div class="form__row">
        {{ form_label(form.pdfFile, 'Fichier PDF', {'label_attr': {'class': 'form__label'}}) }}
        {{ form_widget(form.pdfFile, {'attr': {'class': 'form__field'}}) }}
    </div>

    <button class="btn">
            <span class="btn__text">
                {{ button_label|default('Sauvegarder') }}
            </span>
    </button>

{{ form_end(form) }}
